@mixin d-flex-a-center-j-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin d-inl-flex-a-center-j-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@mixin border-radius-mid {
    border-radius: 8px;
}

@mixin border-radius-big {
    border-radius: 16px;
}