@mixin d-flex-a-center-j-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin d-inl-flex-a-center-j-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@mixin d-flex-a-center-j-sp-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin d-flex-a-center-j-sp-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin border-radius-mid {
    border-radius: 8px;
}

@mixin border-radius-big {
    border-radius: 16px;
}

@mixin border-radius-round {
    border-radius: 50%;
}

@mixin font-size-txt-md {
    font-size: 21px;
    line-height: 28px;
}

@mixin font-size-txt-lg {
    font-size: 24px;
    line-height: 32px;
}

@mixin font-size-title-sm {
    font-size:24px;
    line-height: 32px;
}

@mixin font-size-title-md {
    font-size:30px;
    line-height: 38px;
}

@mixin font-size-title-lg {
    font-size:40px;
    line-height:46px;
}