$color-black: #000;
$color-white: #fff;
$color-light-blue:#b5ffff;
$color-lime-green: #CCF381;
$color-neon-blue: #00FFFF;
$color-electric-blue: #4831D4;

$color-overlay: rgba(0,0,0,0.7);
$color-overlay-heavy: rgba(0,0,0,0.85);