@font-face {
    font-family: 'Swansea';
    src: url('../assets/fonts/Swansea/Swansea-q3pd.ttf');
}

@font-face {
    font-family: 'SwanseaBold';
    src: url('../assets/fonts/Swansea/SwanseaBold-D0ox.ttf');
}

@font-face {
    font-family: 'SwanseaItalic';
    src: url('../assets/fonts/Swansea/SwanseaItalic-AwqD.ttf');
}

@font-face {
    font-family: 'SwanseaBoldItalic';
    src: url('../assets/fonts/Swansea/SwanseaBoldItalic-p3Dv.ttf');
}