@use '@/styles/theme' as *;

.container {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow-md;
  padding: 24px;

  &.border {
    border: 1px solid var(--border-primary);
  }
}

// alignments

.center {
  align-items: center;
  text-align: center;
}

.right {
  align-items: flex-end;
}

// shadows

.medium {
  box-shadow: $box-shadow-md;
}

.large {
  box-shadow: $box-shadow-lg;
}

// backgrounds

.default {
  background: var(--bg-primary);
}

.gradient {
  background: linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      transparent 30%,
      rgba(0, 150, 255, 0.05) 50%,
      transparent 70%
    );
    animation: wave 8s ease-in-out infinite;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
}
