@import '@/styles/theme.scss';
@import '@/styles/mixins.scss';

.container {
    @include d-flex-a-center-j-center;
    min-height:100%;
    flex-direction: column;

    > div {
        width:100%;

        &:not(:first-child) {
            margin-top:20px;
        }
    }
}