@import '@/styles/theme.scss';
@import '@/styles/mixins.scss';

.container {
    position:relative;
    flex: 1;
    flex-grow:1;
    @include border-radius-mid;
    overflow:hidden;
    border: 1px solid $color-neon-blue;
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.5);

    &:hover,
    &:focus,
    &:active {
        > img {
            scale: 1.1;
            filter: saturate(1);
        }

        > span {
            color: $color-neon-blue;
        }
    }

    > img {
        transition:scale 0.3s ease;
        width:100%;
        height:auto;
        filter: saturate(0.5);
        //  blur(1px);
    }

    > span {
        color:$color-light-blue;
        transition:all 0.3s ease;
        @include font-size-txt-md;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        text-align: center;
        background-color: $color-overlay-heavy;
        padding:40px;
    }
}