@import 'styles/theme.scss';

.container {
    position:fixed;
    right:0;
    top:100px;
    background-color: $color-overlay;
    list-style: none;

        > li {
            // display:inline-block;
            padding:10px 20px;

            &:not(:last-child) {
                border-bottom:1px solid $color-neon-blue;
            }
        }
}