@import 'styles/theme.scss';

.container {
    position:fixed;
    right:0;
    top:100px;
    list-style: none;

        > li {
            transition: transform 0.2s ease;
            margin-top:1px;

            &:active,
            &:hover {
                transform:translateX(-10px);
            }
        }
}