@import 'styles/theme.scss';

.container {
    position:fixed;
    right:0;
    top:100px;
    list-style: none;

    > li {
        transition: transform 0.2s ease;
        margin-top:5px;
        border-left: 1px solid $color-light-blue;
        border-bottom: 1px solid $color-light-blue;

        &:active,
        &:focus,
        &:hover {
            transform:translateX(-10px);
            border-left: 1px solid $color-neon-blue;
        border-bottom: 1px solid $color-neon-blue;
        }
    }
}