@import 'styles/global.scss';

.container {
    @include d-flex-a-center-j-center;

    .menuButton {
        > button {
            width:60px;
            padding:8px;
            border: 2px solid $color-neon-blue;
            @include border-radius-round;

            > svg {
                transform: rotate(180deg);
                max-width: 100%;
                height:auto;
            }
        }
    }

    .navMenu {
        position:fixed;
        top:100px;
        right:0;

        > ul {
            transition:transform 0.5s ease;
            transform:translate(100%);
        }

        &.isOpen > ul {
            transform:translate(0%);
            
        }
    }
}