@import 'styles/theme.scss';
@import 'styles/mixins.scss';

.container {
    @include d-flex-a-center-j-center;

    ul {
        list-style: none;

        > li {
            display:inline-block;
            padding:10px 20px;

            &:not(:last-child) {
                border-right:1px solid $color-lime-green;
            }
        }
    }
}