@import '@/styles/theme.scss';
@import '@/styles/mixins.scss';

.container {
    display:block;
    text-align: center;
    color:$color-light-blue;
    border: 1px solid $color-light-blue;
    transition:all 0.3s ease;
    background-color:transparent;
    @include d-flex-a-center-j-center;

    > svg {
        width:25px;
        height:auto;
        margin-left:10px;
    }

    > span {
        padding: 20px;
        display:block;
        @include font-size-txt-sm;
    }

    &:focus-within,
    &:active,
    &:hover {
        color:$color-neon-blue;
        border: 1px solid $color-neon-blue;
    }
}