@import 'styles/theme.scss';
@import 'styles/mixins.scss';

.container {
    color: $color-electric-blue;
    background-color:$color-lime-green;
    height:100vh;
    display:flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;

    > header {
        color:$color-lime-green;
        padding:20px;
        background-color: $color-overlay;
        @include d-flex-a-center-j-center;

        > h1 {
            flex-grow:1;
        }
    }

    > div {
        flex-grow:1;
        overflow:auto;
    
        /* scrollbar */

        &::-webkit-scrollbar {
            width: 10px;
        }
    
        &::-webkit-scrollbar-track {
            background: $color-electric-blue;
        }
    
        &::-webkit-scrollbar-thumb {
            background: $color-lime-green;
        }
        
    }

    > footer {
        color:$color-lime-green;
        background-color: $color-overlay;
        padding: 10px 20px;
        text-align: center;
    }
}