@import 'styles/global.scss';

.container {
    color: $color-electric-blue;
    background-color:$color-lime-green;
    height:100vh;
    display:flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    font-family: 'Swansea';

    > header {
        color:$color-neon-blue;
        padding:20px;
        background-color: $color-overlay;
        @include d-flex-a-center-j-center;

        .home {
            padding:15px;
            border: 2px solid $color-neon-blue;
            @include border-radius-round;

            > svg {
                width:25px;
            }
        }

        > h1 {
            font-family: 'SwanseaBold';
            font-weight: normal;
            flex-grow:1;
            text-align: center;
        }
    }

    > div {
        padding:15px;
        flex-grow:1;
        overflow:auto;
    
        /* scrollbar */

        &::-webkit-scrollbar {
            width: 10px;
        }
    
        &::-webkit-scrollbar-track {
            background: $color-electric-blue;
        }
    
        &::-webkit-scrollbar-thumb {
            background: $color-neon-blue;
        }

        > main {
            flex-direction: column;
            max-width:1200px;
            margin:0 auto;
        }
        
    }

    > footer {
        color:$color-neon-blue;
        background-color: $color-overlay;
        padding: 10px 20px;
        text-align: center;
    }
}