@import '@/styles/theme.scss';
@import '@/styles/mixins.scss';

.container {
    @include d-flex-a-center-j-center;
    @include border-radius-mid;
    background-color: transparent;
    margin-top:20px;

    > div {
        flex-grow:1;
    }

    > a:not(:last-child) {
        margin-right:20px;
    }
}