@use '@/styles' as *;

.icons {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mainIcon {
  font-size: 60px;
  color: var(--primary);
  animation: bounce 2s infinite;
  z-index: 2;

  @include mq(sm) {
    font-size: 3rem;
  }
}

.secondaryIcon {
  font-size: 44px;
  color: var(--text-secondary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  animation: rotate 4s linear infinite;

  @include mq(sm) {
    font-size: 2rem;
  }
}

.reasons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
  width: 100%;
}

.progressSection {
  width: 100%;
}

.progressText {
  margin: 0;
  font-style: italic;
}

// Animations
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes rotate {
  from {
    transform: translate(-28%, -15%) rotate(0deg);
  }
  to {
    transform: translate(-28%, -15%) rotate(360deg);
  }
}
