@import '@/styles/theme.scss';
@import '@/styles/mixins.scss';

.container {
    @include d-flex-a-center-j-center;
    flex-direction: column;

    > div {
        max-width:700px;
        width:100%;
        background-color: $color-overlay;
        padding: 40px;
        @include border-radius-mid;
        
        > h2 {
            text-align: center;
            color:$color-neon-blue;
            margin-bottom:40px;
        }

        .BtnWrapper {
            @include d-flex-a-center-j-center;

            > a {
                transition:all 0.5s ease;
                @include d-inl-flex-a-center-j-center;
                @include border-radius-big;
                border: 1px solid $color-neon-blue;
                width:90px;
                height:90px;

                &:not(:last-child) {
                    margin-right:30px;
                }

                > svg {
                    transition:all 0.3s ease;
                    color: $color-light-blue;
                    width:40px;
                    height:auto;
                }

                &:hover,
                &:active,
                &:focus-within {
                    > svg {
                        color: $color-neon-blue;
                        width:46px;
                    }
                }
            }
        }
    }
}