.container {
  max-width: 400px;
  width: 100%;

  &.fullWidth {
    max-width: 100%;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 0;
  background-color: var(--bg-primary) !important;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-primary);
}

.contactForm input,
.contactForm textarea {
  padding: 12px;
  border: 1px solid var(--border-primary);
  border-radius: 5px;
  background: var(--bg-secondary);
  color: var(--text-primary);
}

.contactForm button {
  padding: 12px;
  background: var(--primary);
  color: var(--primary-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.contactForm button:hover {
  background: var(--primary);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.messageIcon {
  align-self: flex-start;
  padding-top: 12px;
}
