.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);

  > * {
    width: 100%;
  }
}
