@use '@/styles' as *;

.container {
  min-height: 100vh;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: var(--bg-secondary);
  color: var(--text-primary);
  padding-top: 90px;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  padding: 48px 32px 70px;
  margin: 0 auto;

  @media screen and (max-width: 480px) {
    padding: 48px 16px;
  }

  > * {
    width: 100%;
  }
}

.footer {
  text-align: center;
  padding: 16px;
  background: var(--bg-tertiary);
  border-radius: 12px 12px 0 0;
  margin-top: auto;
}
