@import '@/styles/theme.scss';
@import '@/styles/mixins.scss';

.container {
    padding:15px;
    position:relative;
    width:auto;
    @include d-flex-a-center-j-center;
    
    label {
        color: $color-light-blue;
        @include font-size-txt-sm;
        margin-right:10px;
        text-decoration: none;
    }

    input {
        flex-grow:1;
        background-color: transparent;
        color: $color-light-blue;
        @include font-size-txt-sm;
        padding:5px 10px;
        outline: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid $color-light-blue;
    }

    &:focus-within {
        input {
            border-bottom: 1px solid $color-neon-blue;
            color: $color-neon-blue;
        }

        label {
            color: $color-neon-blue;
        }
    }
}