.desktopLogo {
  display: block;
  width: 140px;
  height: auto;
  padding: 8px;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobileLogo {
  display: none;
  width: 40px;
  height: auto;

  @media (max-width: 768px) {
    display: block;
  }
}
