.desktopLogo {
  display: block;
  width: 200px;
  height: auto;
  //width: auto;
  //max-height: 40px;
  padding: 8px;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobileLogo {
  display: none;
  width: 40px;
  height: auto;

  @media (max-width: 768px) {
    display: block;
  }
}
