@use '@/styles' as *;

.desktopLogo {
  display: block;
  width: 140px;
  height: auto;
  padding: 8px;

  @include mq(sm) {
    display: none;
  }
}

.mobileLogo {
  display: none;
  width: 40px;
  height: auto;

  @include mq(sm) {
    display: block;
  }
}
