@use '@/styles' as *;

.header {
  max-width: 600px;
}

.description {
  text-align: center;

  p {
    line-height: 1.6;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex: 1 1 0px;

  @include mq(sm) {
    flex-direction: column;
    gap: 32px;
  }
}

.socialSection {
  width: 100%;
  max-width: 600px;
  min-height: 300px;
}
